<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>User Accounts</h1>
        {% for user in users %}
        <h2>Hello World, {{ user.name }}</h2>
        {% endfor %}
    </body>
</html>
