<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Picture Server</title>
</head>
<body>
    <h1>Pictures</h1>
    <a href="/upload">Upload picture</a>
    {% for image in images %}
    <h3>{{ image.time.isoformat() }}</h3>
    <img src="/static/uploads/{{ image.filename }}.{{ image.mime_type }}" alt="{{ image.filename }}">
    <form method="post" action="/delete">
        <input name="filename" value="{{ image.filename }}" hidden>
        <input type="submit" value="Delete">
    </form>
    {% endfor %}
</body>
</html>
