<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>User Accounts</h1>
        {% for user in users %}
        <h2>Hello World, {{ user.name }}</h2>
        {% endfor %}
        <form action=/upload method="POST" enctype='multipart/form-data'>
            <label for="file">Bild:</label>
            <input id="input1" type="file" name="file" value="Bild">
            <input type="submit" name="submit"  value="Submit">
        </form>
        
    </body>
</html>
